# Data Type And structures

1.  What are data structures, and why are they important?

  - Data structure:
     - Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.
    - Think of them as containers that hold your data and determine how you can interact with it. Different containers are better suited for different types of items.

2.  Explain the difference between mutable and immutable data types with examples?
  - mutable:
    - In python, mutable means whether the value of and object can be changed after it is created.
  and object and container whose state or value can be changed after they are created are called as mutable object. list is a mutble object. list,dictionary and sets are mutable.
  
example

In [ ]:
lis = [1,2,3]
lis[0] = 4
lis

[4, 2, 3]

  - immutable:
    - In python, immutable means whether the value of and object cannot be changed after it is created its called immutable.
    - if we try to change them, python create a new object instead of modifying the original one. string,tuple and boolean are immutable.
  
example

In [ ]:
name = "neeraj"
name[0] = "s"
print(name)

TypeError: 'str' object does not support item assignment

In [ ]:
name ="neeraj"
name = name + "kumar"
print(name)

neerajkumar

3. What are the main differences between lists and tuples in Python?

  - main difference between list and tuple:
   -  mutability
      - list is mutable(can be changed,add,remove and update element).
      - define with [] (square bracket).
      -  slowe than tuple because mutable operations require extra memory and check.
      - used when we need a collection of items that may change.

   - immutable
      - immutable cannot be changed after creation.
      - define with () parantheses
      - faster than lists because of immutablity.
      -used when we need fixed data that should not change (like constant)

4.  Describe how dictionaries store data?
  -  how dictionaries store data:
  - (1) hashing
    - python use a technique called hashing.
    - each key is passed though a hash function that convert it into a number (hash value)
    - this number decides where the key value pair will be stored in memory.
  - (2) key value mapping
    - the key is like an "index" but unlike lists(which use memory indexes), dictionries can use almost any immutable object as a key.
    - Each key point directly to its value.
  - (3) fast lookup
    - because of hashing, searching for a value using its key is very fast.
  - (4) uniqueness of key
    - Eack key must be unique .if we use the same key again, the old value will be replaced

5. Why might you use a set instead of a list in Python?

  - main reason:
    - (1) No duplicates allowed(A set automatically remove duplicate value.) and a list would keep all duplicates.
    - (2)faster lookup >> checking if an item exits in a set is much faster than in a list because sets use hashing.

6. What is a string in Python, and how is it different from a list?

  - A string is a sequences of character( letters,numbers,symbols,spaces)
  
    - differences between string and list:
   - (1) data type >> string is sequences of characters while list is sequences of element.
   - (2) mutability >> string is immutable while list is mutable
   - (3) indexing >> string is supports indexing and slicing while list also supports indexing and slicing.
   - (4) example >> "neeraj"=['n','e','e','r','a','j'] while [10,20,30]

7. How do tuples ensure data integrity in Python?

  * how tuples ensure data integrity in python:
  - (1) immutability>>
    - once a tuple is created, we cannot add, remove or modify its elements.
    - this means the data stays fixed and safe throughout the program.
  - (2) prevent accidental changes>>
    - because tuple cannot be changed, they prevent accidental modifications in code, which helps keep important data consitent.
  - (3) safe to use as key in dictionaries and elemrnts in sets>>
    - since tuples are immutable (unlike list), they can be used as key in dictionries and as element in sets.
    - this ensures the data used as identifiers remains stable.
  - (4) reliable for Constant/ fixed collection>>
    - if we have data that should never change ( like days of the week, coordinates, config value), tuples are the best choice.

8. What is a hash table, and how does it relate to dictionaries in Python?

  - hash table >> A hash table is a data structure that allows for efficient storage and retrieval of key - value pairs. It work by using a hash function to compute an index ( called a "hash") into an array of buckets or slots, from which the desired value can be found.

  - how it related to python dictionaries:
    - in python, the built-in dict type is implemented as a hash table.

    example:

In [ ]:
my_dict = {"name":"neeraj","age":20}

here's what happen behind the scenes:

  - 1. python hashes the key "name" And "age" using a hash function.
  - 2. it maps those hashes to indices in an internal array.
  - 3. it store the value ("neeraj" and 20) at those position.

9. Can lists contain different data types in Python?

  - Yes, lists in python can cotain different data types.
  - python lists are heterogeneous, meaning they can hold element of mixed types >> string,float,list etc. all in the same list.

   example:

In [ ]:
mixed_list = [41,"hello",3.12,True,[1,2],]

10. Explain why strings are immutable in Python?

  - strings are immutable in python, its means once a string is created, it cannot be changed.if i try to change it python throw an error or create a new string object.

  - why are string immutable in python?
  - (1)>> Efficiency and Memory Optimization

    - strings are use frequently (e.g., as dictionary keys), so python optimizes their handling.
    - immutable object can be interned (stored in a shared memory location) to save memory and speed up comparisons.
    
    - example

In [ ]:
a = "hello"
b = "hello"
print(a is b) # both point to the same object in memory

True

  - (2) >> Hashabilty
    - for an object to be used as a dictionary key or added to set, it must be hashable.
    - hashability requires that the object doesn't change over time, which is guarabteed by immutability.

  - (3) >> thread safety
    - since strings can't be changed, they can be shared safely across threads without the risk of being modified by another thread.

11. What advantages do dictionaries offer over lists for certain tasks?

  - Dictionaries offer several key advantages over lists for specific types of tasks, particularly when dealing with key value pairs and fast lookups.
   here's a breakdown:

  - (1) Faster lookups (constant time access):
    - dictionary>>sccessing a value by its its key is typically 0(1) time (constant),thanks to hashing.
    - list>>Searching for specific value  or index( if not known) is 0(n) (linear Time), as we may need to traverse the entire list.

  - (2) Key-value pair storage:
    - Disctionaries Stores data as key value pairs,macking it ideal for associating name with value ex.{"name":"neeraj","age":30}
    - list store Values by positive ?index ex.["neeraj",30]

 - (3) Avoiding duplicates in keys
   - dictionary keys are unique, trying to insert a duplicate key will overwrite the existing value.
   - list can contain duplicate  values, which might be undesirable in some contexts.

12. Describe a scenario where using a tuple would be preferable over a list?

  - Scenario: Using Tuples as Dictionary Keys

  - Problem:>> We want To use a combination of value (like Coordinates or composite identifiers) as a key in dictionary to store related data.

  - why Tuple>>
  - Tuples are immutable and hashable, which means they can be used as dictionary keys.
  - list are mutable and not hashable , so they cannot be used as keys in a dictionary.
  - example: storing elevation data by coordinates

In [ ]:
elevation_data = {(40.7128, -74.0060): 10, (34.0522, -118.2437): 15,(51.5074, -0.1278): 35}
location = (40.7128, -74.0060)
print(f" elevation:{elevation_data[location]}meters")

 elevation:10meters

13. How do sets handle duplicate values in Python?

  - In python, sets Automatically eliminate duplicate value.
  for example>

In [ ]:
my_set = {1,2,2,3,3,4}
print(my_set)          # as we can see duplicates like 2 and 3 are automaticaly removed.

{1, 2, 3, 4}

14. How does the “in” keyword work differently for lists and dictionaries?

  - The "in" keyword behaves differently for lists and dictionary in python, because of how those data structure are designed.

  for lists:

   - in checks if a value exists in the list.
   - it perform a linear search (check an element one by one)

   - example>

In [ ]:
my_list = [1,2,3,4,5]
print(3 in my_list)

True

In [ ]:
print(6 in my_list)

False

for dictionary:

   - in check if a key exists, not value.
   - it's optimized using a hash value.
   - example>

In [ ]:
my_dict = {"name":"neeraj","age":20}
print("name" in my_dict)

True

In [ ]:
print("neeraj" in my_dict)

False

15. Can you modify the elements of a tuple? Explain why or why not?

  - No, I cannot modify the element of a tuple in python.
  - because, A tuple is immutable, meaning once it is created,its contents(element) cannot be change,added, or removed.
  - this is immutsble is by design. it ensure that tuples cab be safely used as key in dictionries or elements in sets, where data intergrity and fixed values are important.
  - example>

In [ ]:
my_tuple = (1,2,3)
my_tuple[0] = 4

TypeError: 'tuple' object does not support item assignment

16. What is a nested dictionary, and give an example of its use case?

  - Nested:>> A nested dictionary is when value of keys are themselves dictionaries.
  - use case:>>
  - storing student database
  
  - example..

In [ ]:
students ={"101":{"name":"neeraj","age":20,"marks":85},"102":{"name":"dheeraj","age":25,"marks":95},"103":{"name":"ajay","age":22,"marks":75}}
print(students["101"]["name"])
print(students["102"]["marks"]) # and there are many usecase

neeraj
95

17. Describe the time complexity of accessing elements in a dictionary?

  - in python, a dictionary is implemented using a hash table.

    - each key is hashed to find  its index(bucket)
    - this makes lookups (accessing a value by key) very efficient

  - average case:
    - 0(1) (constant time)
    - because python compute the hash of they key and directly jumps to the memory location.

  - worst case:
    - 0(n) (linear time)
    - this happen if there are too many case hash collisions,where multiple keys are stored in the same bucket.
    - however, pythom's dictionary is well -optimized to keep collision rare, so worst cases are uncomman in practice.

    - Example>

In [ ]:
my_dict = {"a": 1,"b": 2, "c": 3}
print(my_dict["b"])

2

18. In what situations are lists preferred over dictionaries?

  - Situations where lists are preferred:

    - lists keep items in the order they are inserted.
    - example: to- do lists,playlist,or step by step instructions.

In [ ]:
tasks = ["wake up","exercise","study","sleep"]

  - when we need values(not key value pair)
    - if your data doesn't need lables/keys,a list is simpler.
    - Example: storing roll number,name, or score.

In [ ]:
scores=[85,9,75,91]

  - when indexing byposition is required
    - lists let we access element by their index.
    - example: accesing the 3rd student's marks.

In [ ]:
students = ['neera',"ajay","vijay"]
print(students[2])

vijay

  - when we need to store duplicates item.
    - lists allow duplicates, but dictionary don't allow duplicates key
    - example tracking daily temperatures

In [ ]:
Temps = [30,32,30,35,32]

  - when order based operations are needed
    - sorting,slicing.reversing etc.

In [ ]:
nums = [4,2,3,1]
nums.sort()
print(nums)

[1, 2, 3, 4]

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - A dictionary stores data as key value pairs using a hash table.
  - keys are hashed into position in memory(bucket)
  - the main focus is fast lookup(0(1)), not ordering.

   - effect on data retrieval
      - (1) retrieval by key, not by position
        - In a list, we use indexes (list[0]), but in a lictionary we retrieve by key (dict["name"])
        - this means we don't care where the item is sorted,as long as you know its key

In [ ]:
student = {"name":"neeraj","age":20,"marks":85}
print(student["age"])
print(student[0])            # no index acces

20

KeyError: 0

  (2) iteration order may not matter
    - in python older version ,looping over a dictionary could give element in any order.
    - in python 3.7+, order is preserved, but you should not rely on it for algorithms where ordering is critical.

  (3) unordered storage = faster lookups
    - since dictionaries don't need to maintain a sorted indexed structure,lookups are 0(1) on average.
    - that's the big trade-off: unordered but fast.

 20. Explain the difference between a list and a dictionary in terms of data retrieval?

-  retrieval in lists
   - Data is retrieved by position(index)
   - indexes are intiger-based, strarting from 0.
   - retrieval is 0(1) (constant time), because can directly jump to that index in memory.
  - example:

In [1]:
fruits = ["apple","banana","orange"]
print(fruits[1])

banana

 - retrieval in dictionaries
   - Data is retrieved by key, not by index.
   - keys can be strings, numbers,or other immutable type.
   - retrieval is also 0(1) on average.
  - example

In [2]:
student = {"name":"neeraj","age":20,"marks":85}
print(student["marks"])

85

# Practical Questions

1. Write a code to create a string with your name and print it.

In [3]:
name = "neeraj"
print(name)

neeraj

2. Write a code to find the length of the string "Hello World".

In [5]:
"hello world"
print(len("hello world"))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [6]:
string1 = "neeraj"
string1[:3]

'nee'

In [11]:
string1[3:]

'raj'

4. Write a code to convert the string "hello" to uppercase.

In [13]:
string2 = "hello"
string2.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [14]:
word = "i like apple"
word.replace("apple","orange")

'i like orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [15]:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [16]:
my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [17]:
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [18]:
my_list = ['a','b','c','d']
my_list[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [19]:
my_list = [10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [20]:
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [21]:
my_tuple = ('red', 'green', 'blue', 'yellow')
my_tuple[-2]

'blue'

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [22]:
my_tuple = (10,20,5,15)
print(min(my_tuple))

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [23]:
my_tuple = ('dog', 'cat', 'rabbit')
my_tuple.index("cat")

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [24]:
my_tuple = ("apple","banana","orange")
print("kiwi" in my_tuple)

False

In [25]:
my_tuple = ("apple","banana","kiwi")
print("kiwi" in my_tuple)

True

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [26]:
my_set = {"a","b","c"}
print(my_set)

{'c', 'a', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [27]:
my_set = {1,2,3,4,5}
my_set.clear()
print(my_set)

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [28]:
my_set = {1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [29]:
my_set1 = {1,2,3}
my_set2 = {3,4,5}
print(my_set1.union(my_set2))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [30]:
my_set = {1,2,3}
my_set2 = {2,3,4}
print(my_set.intersection(my_set2))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [31]:
my_dict = {"name":"neeraj","age":20,"city":"delhi"}
print(my_dict)

{'name': 'neeraj', 'age': 20, 'city': 'delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [33]:
my_dict = {"name":"john","age":25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'john', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [34]:
my_dict = {"name":"alice","age":30}
print(my_dict["name"])

alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [35]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [36]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
print("city" in my_dict)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [38]:
my_list = [1,2,3]
my_tuple = (1,2,3)
my_dict = {"name":"neeraj","age":25}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(1, 2, 3)
{'name': 'neeraj', 'age': 25}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [40]:
my_list = [11,50,3,40,66]
my_list.sort()
print(my_list)

[3, 11, 40, 50, 66]

28. Write a code to create a list with strings and print the element at the third index.

In [41]:
my_list = ["apple","banana","orange"]
print(my_list[2])

orange

29. Write a code to combine two dictionaries into one and print the result.

In [43]:
my_dict1 = {"name":"ajay","age":27}
my_dict2 = {"city":"delhi","country":"india"}
my_dict1.update(my_dict2)
print(my_dict1)

{'name': 'ajay', 'age': 27, 'city': 'delhi', 'country': 'india'}

30. Write a code to convert a list of strings into a set.

In [44]:
my_list = ["apple","banana","orange"]
my_set = set(my_list)
print(my_set)

{'banana', 'orange', 'apple'}